.custom-appbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: rgba(170, 77, 255, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  transition: background 0.2s, margin 0.3s, border-radius 0.3s, filter 0.3s;
}

.custom-appbar.scrolled {
  background: rgb(73, 9, 9, .3);
  backdrop-filter: blur(12px) brightness(1.15);
  -webkit-backdrop-filter: blur(12px) brightness(1.15);
  transition: background 0.2s, margin 0.3s, border-radius 0.3s, filter 0.3s, backdrop-filter 0.3s;
}

.custom-appbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;
}

.custom-appbar-back {
  background: none;
  border: none;
  padding: 0 4px 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 36px;
  transition: background 0.15s;
}

.custom-appbar-back:focus, .custom-appbar-back:hover {
  background: rgba(170, 77, 255, 0.08);
  border-radius: 50%;
}

.custom-appbar-back svg {
  display: block;
}

.custom-appbar-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f3f5ff;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.custom-appbar-search input {
  height: 32px;
  border-radius: 8px;
  border: none;
  padding: 4px 12px;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
  outline: none;
}

.custom-appbar-search input::placeholder {
  color: #888;
}

@media (max-width: 600px) {
  .custom-appbar-search input{
    width: 100px;
  }
}